/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body 
 

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --h1balk:#e63946;
  --titelbalkgame:#ffd100;
  --backgroundsection1:#000000;
  --colorh3:#fff; 
  --colorp:#fff; 
  --colorbuttonlink:#386641; 
  --colorbuttonhover:#a3b18a; 
  
 
  
  
  /* ... */

}


/********************/
/* ALGEMENE STYLING */
/********************/
body {
  margin:0;
}

h1 {
  height: 1em;
  background-color: var(--h1balk);
  margin: 0;
}

/* titel blolkje voor de games */
section:first-of-type h2 {
  background-color: var(--titelbalkgame);
  margin: 0;
  width: 10em;
  text-align: center;
  margin-left: 8em;
  font-family: Arial, Helvetica, sans-serif;
}

/* Achtergrond section 1 */
section:first-of-type {
  background-color:var(--backgroundsection1);
}
/* grid voor de list items */
section:first-of-type ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 1em;
  padding-bottom: 2em;
  
}

/* stijling van de ul */

ul{
  list-style-type: none;
  padding:0;
  margin-left: 12em;
  margin-right: 12em;
}
li  button {
  width: 30%;
  padding:0;
}
li{
  background-color: #e63946;
  text-align: center;
 
}
/* button */
li button{
  background-color: transparent;
  border: none;
}

/* Uitleg van Sanne gekregen hier over. Hier mee zorg je dat de
plaatjes netjes blijven */
li button img {
  display:block;
  width:100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

li button img:hover{
  animation-name: scale;
  animation-duration: 2s;
  animation-delay: .5s;
}

@keyframes scale{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

/* Section 2, hier komen informatie blokken */


 
/*Stijling informatieblokken */

main > section:nth-of-type(2){
  display: flex;
  flex-direction: row;
  gap: 2em;
}

section:nth-of-type(2) section:first-of-type {
  background-color: var(--backgroundsection1);
  width: 100%;
  margin-left: 5em;
  height: 20em;
  
  
}

section:nth-of-type(2) section:nth-of-type(2) {
  background-color: var(--backgroundsection1);
  width: 100%;
  margin-right: 5em;
  height: 20em;
}

/* Het stijlen van h3 */
h3{
  background: transparent;
  color:var(--colorh3);
  margin-left: 1em;
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color:var(--colorp);
  margin-left: 1em;
  margin-right: 5em;
  font-family: Arial, Helvetica, sans-serif;
}


/* Het stijlen van button easter egg */

main> button{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  background-color:var( --colorbuttonlink);
  border-radius: 1em;
  height: 2em;
  width: 8em;
  margin-top: 1em;
  border-color: transparent;
  color: var(--colorp);
  
}

/* Stages button */

main>button:hover{
  background-color: var(--colorbuttonhover);
}

main>button:after{
  background-color: var(--colorbuttonafter);

}

/* Het stijlen van Link */

main > img {
  /* left: 100% ; */
  position: fixed;
  top: calc(50% - 15em);
  transform: translateX(-100%);
  height: 25em;
  /* position: absolute; */
  
  /* animation-play-state: paused;  */
 

}

@keyframes rennenlink{
  0%{ 
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(250%);

  }
}

main > img.ikRen{
  animation-name: rennenlink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: initial
}
